<div class='sub-menu'>
    <div id='container'>
        <ul class='cl-mg-tb'>
            <li ng-if="path == '/settings'"><a ng-href='#/settings' class='active'>Account</a></li>
            <li ng-if="path != '/settings'"><a ng-href='#/settings'>Account</a></li>
            
            <!--<li ng-if="path == '/settings/public-profile'"><a ng-href='#/settings/public-profile' class='active'>Public Profile</a></li>
            <li ng-if="path != '/settings/public-profile'"><a ng-href='#/settings/public-profile'>Public Profile</a></li>
            
            <li ng-if="path == '/settings/receipt'"><a ng-href='#/settings/receipt' class='active'>Receipt</a></li>
            <li ng-if="path != '/settings/receipt'"><a ng-href='#/settings/receipt'>Receipt</a></li>
            
            <li ng-if="path == '/settings/checkout'"><a ng-href='#/settings/checkout' class='active'>Checkout</a></li>
            <li ng-if="path != '/settings/checkout'"><a ng-href='#/settings/checkout'>Checkout</a></li>
            
            <li ng-if="path == '/settings/email-notification'"><a ng-href='#/settings/email-notification' class='active'>Email Notification</a></li>
            <li ng-if="path != '/settings/email-notification'"><a ng-href='#/settings/email-notification'>Email Notification</a></li>-->
        </ul>
    </div>
</div>