
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    
}

/*@media only screen and (max-width: 999px) {
    .box-menu .navi ul {
	padding-left: 10px;
    }
    .box-menu .navi li a {
	padding: 28px 18px;
    }
}*/

@media only screen and (max-width: 960px) {
    div md-input-container {
	margin: 10px 0 18px 0;
    }
}

@media only screen and (max-width: 970px) {
    .box-menu .navi li a {
	padding: 28px 12px;
    }
}

@media only screen and (max-width: 860px) {
    .box-menu .navi ul {
	padding-left: 0px;
    }
    .box-menu .navi li a {
	padding: 28px 12px;
    }
}

@media only screen and (max-width: 767px) {
    .c-sort,
    .c-search,
    .b-action {
	margin-top: 10px;
	padding-right: 0;
    }
    .b-action.no-top {
	margin-top: 0;
    }
    .cl-mg-rest {
	margin-top: 0;
    }
    .cl-mg-resb {
	margin-bottom: 0;
    }
    .cl-mg-resl {
	margin-left: 0;
    }
    .cl-mg-resr {
	margin-right: 0;
    }
    .cl-mg-restb {
	margin-top: 0;
	margin-bottom: 0;
    }
    .cl-mg-reslr {
	margin-left: 0;
	margin-right: 0;
    }
    
    .box-menu .bg-logo {
	width: 120px;
	height: 65px;
    }
    .box-menu .logo {
	height: 44px;
    }
    .box-menu .btn-menu {
	padding: 11px 20px;	
    }
    .box-menu .mg-all-20 {
	margin: 15px 10px;
    }
    
    /* Table Flexy */
    
    table.flexy.col4 tr td,
    table.flexy.col4 tr th {
	width: 33.33%;
    }
    table.flexy.col5 tr td,
    table.flexy.col5 tr th {
	width: 33.33%;
    }
    table.flexy.col6 tr td,
    table.flexy.col6 tr th {
	width: 33.33%;
    }
    table.flexy.col7 tr td,
    table.flexy.col7 tr th {
	width: 33.33%;
    }
    table.flexy.col8 tr td,
    table.flexy.col8 tr th {
	width: 33.33%;
    }
    
    /* Scrollbar */
    
    * {
	-webkit-font-smoothing: antialiased;
    }
    *::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0px
    }
    *::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .2)
    }
    *::scrollbar {
	appearance: none;
	-moz-appearance: none;
	width: 0px
    }
    *::scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	box-shadow: 0 0 1px rgba(255, 255, 255, .2);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, .2)
    }
    *::-moz-scrollbar {
	-moz-appearance: none;
	width: 0px
    }
    *::-moz-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, .2)
    }
}

@media only screen and (max-width: 600px) {
    .box-login {
	max-width: 350px;
	padding: 20px;
    }
	.box-login.bod-blue {
	    border: none;
	    box-shadow: 0 0 0 0;
	}
	.box-login.bg-white-full,
	.box-login .list-inset {
	    background: none;
	}
	.box-login .logo {
	    margin: 0 0 20px 0;
	}
}

@media only screen and (max-width: 530px) {
    .box-menu #container {
	padding-left: 0;
	padding-right: 0;
    }
    .box-menu .bg-logo {
	width: 90px;
	height: 65px;
	padding: 5px;
    }
    .box-menu .logo {
	height: 56px;
    }
    .box-menu .btn-menu {
	padding: 11px 12px;	
    }
    .sub-menu #container {
	padding-left: 0;
	padding-right: 0;
    } 
}