<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="main">
                    <md-content class="md-padding">
                        <div class='pad-b-10'>
                            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Picture</span>
                                        <span class="md-subhead">
                                            <label ng-if="pp.outlet_info.image_url == undefined">
                                                <label ng-if="pp.outlet_info.files.name == undefined">No Image</label>
                                                <label ng-if="pp.outlet_info.files.name != ''">{{pp.outlet_info.files.name}}</label>
                                            </label>
                                            <label ng-if="pp.outlet_info.image_url != ''">{{pp.outlet_info.image_url}}</label>
                                        </span>
                                        <!--<input type="hidden" name="image_url" ng-model="pp.outlet_info.image_url">-->
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-md card-media" ng-if="pp.outlet_info.image_url == undefined"></div>
                                        <div class="md-media-md card-media" ng-if="pp.outlet_info.image_url != undefined" style='background: url("{{pic}}{{pp.outlet_info.image_url}}") no-repeat center center; background-size: contain;'></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input type="file" file-model="myFile">
                                    </span>
                                    <button type="button" class="btn btn-warning mg-l-5" ng-click="delPic()">Delete</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                        <div class='layout-gt-sm'>
                            <md-switch ng-model="pp.is_active" ng-true-value="1" ng-false-value="0" class="md-warn" aria-label="Active"></md-switch>
                            <md-input-container class="md-block wd-100">
                                <label>Outlet Name</label>
                                <input name="outlet_name" ng-model="pp.outlet_name" required>
                                <div ng-messages="ppForm.outlet_name.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class='layout-gt-xs'>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Outlet Code</label>
                                <input name='outlet_code' ng-model="pp.outlet_code">
                                <div ng-messages="ppForm.outlet_code.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Phone</label>
                                <input name="outlet_phone" ng-model="pp.outlet_info['outlet_phone']">
                                <div ng-messages="ppForm.outlet_phone.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class='layout-gt-xs'>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Outlet Tax</label>
                                <input name='pp.outlet_info['outlet_tax']' ng-model="pp.outlet_info['outlet_tax']">
                                <div ng-messages="ppForm.outlet_info.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <!--<label>Active Date</label>-->
                                <md-datepicker name='outlet_active_date' ng-model="pp.outlet_active_date" md-placeholder="Active Date"></md-datepicker>
                                <!--<input name='outlet_active_date' ng-model="pp.outlet_active_date">-->
                                <div ng-messages="ppForm.outlet_active_date.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class='layout-gt-sm'>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Address</label>
                                <textarea name="outlet_info" ng-model="pp.outlet_info['outlet_address']" md-maxlength="255" rows="5" md-select-on-focus></textarea>
                                <div ng-messages="ppForm.outlet_info.$error">
                                  <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <!--<div class='layout-gt-sm'>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>User</label>
                                <md-select ng-model="pp.user_id" md-on-close="clearSearchTerm()" data-md-container-class="selectMulti" multiple>
                                    <md-select-header class="selHeader">
                                        <input type="search" ng-model="searchTerm" placeholder="Search..." class="searchbox _md-text" search-type>
                                    </md-select-header>
                                    <md-optgroup label="user">
                                            <md-option ng-value="dt1.user_id"
                                                       ng-selected="checkUser(dt1.user_id)"
                                                       ng-repeat="dt1 in userData | filter:searchTerm">{{dt1.user_fname}} {{dt1.user_lname}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class='layout-gt-sm'>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Product</label>
                                <md-select ng-model="pp.product_id" md-on-close="clearSearchTerm()" data-md-container-class="selectMulti" multiple>
                                    <md-select-header class="selHeader">
                                        <input type="search" ng-model="searchTerm" placeholder="Search..." class="searchbox _md-text" search-type>
                                    </md-select-header>
                                    <md-optgroup label="product">
                                            <md-option ng-value="dt2.product_id"
                                                       ng-selected="checkProd(dt2.product_id)"
                                                       ng-repeat="dt2 in prodData | filter:searchTerm">{{dt2.product_name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>-->
                    </md-content>
                </md-tab>
                <md-tab label="user">
                    <md-content class="md-padding">
                        <md-input-container class="md-block cl-mg-b">
                            <input type="search" ng-model="searchUser" placeholder="Search...">
                        </md-input-container>
                        <md-list class='cl-pad-all'>
                            <md-list-item ng-repeat="dt1 in userData | filter:searchUser">
                                <p>{{dt1.user_fname | uppercase}} {{dt1.user_lname | uppercase}}</p><md-checkbox class="md-secondary" ng-model="dt1.selected" check-user></md-checkbox>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="product">
                    <md-content class="md-padding">
                        <md-input-container class="md-block cl-mg-b">
                            <input type="search" ng-model="searchProduct" placeholder="Search...">
                        </md-input-container>
                        <md-list class='cl-pad-all'>
                            <md-list-item ng-repeat="dt2 in prodData | filter:searchProduct">
                                <span class="md-avatar" style='background: url("{{pic}}{{dt2.product_info.image_url}}") no-repeat center center; background-size: contain;'></span>
                                <p>{{dt2.product_name | uppercase}}</p><md-checkbox class="md-secondary" ng-model="dt2.selected" check-prod></md-checkbox>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>