<div class='sub-menu'>
    <div id='container'>
        <ul class='cl-mg-tb'>
            <li ng-if="path == '/inventories/invent-in'"><a ng-href='#/inventories/invent-in' class='active'>In</a></li>
            <li ng-if="path != '/inventories/invent-in'"><a ng-href='#/inventories/invent-in'>In</a></li>
            
            <li ng-if="path == '/inventories/invent-out'"><a ng-href='#/inventories/invent-out' class='active'>Out</a></li>
            <li ng-if="path != '/inventories/invent-out'"><a ng-href='#/inventories/invent-out'>Out</a></li>
            
            <!--<li ng-if="path == '/inventories/invent-move'"><a ng-href='#/inventories/invent-move' class='active'>Move</a></li>
            <li ng-if="path != '/inventories/invent-move'"><a ng-href='#/inventories/invent-move'>Move</a></li>-->
            
            <li ng-if="path == '/inventories/locations'"><a ng-href='#/inventories/locations' class='active'>Locations</a></li>
            <li ng-if="path != '/inventories/locations'"><a ng-href='#/inventories/locations'>Locations</a></li>
        </ul>
    </div>
</div>
<div id='container' hide-gt-xs>
    <p class='btn btn-blue cl-btn ss-btn mg-t-10 wd-100 ff-18 txl-left txl-up'>{{tlmenu}}</p>
</div>