<div class="slide-animate" ng-include="mnmenu.url1"></div>
<div class="slide-animate" ng-include="mnmenu.urlsd"></div>

<div id='container' hide-gt-xs>
    <p class='btn btn-blue cl-btn ss-btn mg-t-10 wd-100 ff-18 txl-left txl-up'>{{tlmenu}}</p>
</div>
<div class='over-content bg-grey'>
    <div id='container-over'>
        <div class='content'>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-lg-3 col-md-4 col-sm-5 col-xs-12 cl-pad-lr mg-b-10'>
                    <div class='title cl-mg-lr'>
                        Date
                    </div>
                    <div layout='row'>
                        <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker" placeholder="Date">
                        <button type="button" class="btn btn-primary cl-btn mg-l-5" ng-click="proDash(datePicker)">Proceed</button>
                    </div>
                </div>
            </div>
            <div class='clean'></div>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Sales Summary">
                        <md-content class="md-padding">
                            <div class='title'>
                                Sales Summary
                            </div>
                            <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <div class='ss-mon'>
                                            Rp {{valFormat(lnSummary.gross_sales)}}
                                        </div>
                                        <div class='ss-title'>
                                            Gross Sales
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <div class='ss-mon'>
                                            Rp {{valFormat(lnSummary.nett_sales)}}
                                        </div>
                                        <div class='ss-title'>
                                            Nett Sales
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <div class='ss-mon'>
                                            {{lnSummary.number_of_transactions}}
                                        </div>
                                        <div class='ss-title'>
                                            Number of Transactions
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <div class='ss-mon'>
                                            Rp {{ceilFormat(lnSummary.avg_sale_per_transaction)}}
                                        </div>
                                        <div class='ss-title'>
                                            AVG. Sale Per Transaction
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <span>Daily Gross Sales Month</span>
                                    </div>
                                </div>
                            </div>-->
                            <div class='col-lg-5 col-md-5 col-sm-5 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <span>Daily of The Week Gross Sales</span>
                                        <canvas id="line" class="chart chart-line mg-t-10" chart-data="data_dow"
                                        chart-labels="labels_dow" chart-series="series_dow" chart-options="options_dow"
                                        chart-dataset-override="datasetOverride_dow" chart-click="onClick_dow"
                                        </canvas> 
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-7 col-md-7 col-sm-7 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <span>Hourly Gross Sales</span>
                                        <canvas id="line" class="chart chart-line mg-t-10" chart-data="data_hourly"
                                        chart-labels="labels_hourly" chart-series="series_hourly" chart-options="options_hourly"
                                        chart-dataset-override="datasetOverride_hourly" chart-click="onClick_hourly"
                                        </canvas> 
                                    </div>
                                </div>
                            </div>
                            <div class='clean'></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Item Summary">
                        <md-content class="md-padding">
                            <div class='title'>
                                Item Summary
                            </div>
                            <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <span>Category By Volume</span>
                                        <canvas id="pie" class="chart chart-pie mg-t-10"
                                            chart-data="data_vol" chart-labels="labels_vol" chart-options="options_vol"
                                        </canvas> 
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <span>Category By Sales</span>
                                        <canvas id="doughnut" class="chart chart-doughnut mg-t-10"
                                            chart-data="data_cbs" chart-labels="labels_cbs" chart-options="options_cbs"
                                        </canvas> 
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <span>Top Items</span>
                                        <table class='table table-striped'>
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th class='txl-center'>Volume</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat='lt in lnTopitems'>
                                                    <td>{{lt.product_name | capitalize}}</td>
                                                    <td class='txl-center'>{{lt.total}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class='clean'></div>
                            
                            <!--<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <span class='disp-block'>Top Items By Category</span>
                                        <div ng-repeat='ln in lnItemcat'>
                                            <div ng-bind-html='toTrustedHTML(ln)'></div>
                                        </div>
                                        <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 pad-tb-10' ng-repeat='ln in lnItemcat'>
                                            <span>{{ln.category_name | uppercase}}</span>
                                            <canvas id="base" class="chart-bar mg-t-10"
                                                chart-data="data_ic[ln.data]" chart-labels="labels_ic[ln.labels]"
                                                chart-dataset-override="datasetOverride_ic" >
                                            </canvas> 
                                        </div>
                                        <span ng-repeat='xx in labels_ic1'>{{xx}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class='clean'></div>-->
                        </md-content>
                    </md-tab>
                    <md-tab label="Download Apps">
                        <md-content class="md-padding">
                            <div class='title'>
                                Download Apps
                            </div>
                            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 mg-b-10'>
                                <span class='ff-18'>Latest Update : 22 Nov 2016</span>
                                <a ng-href="http://demo.lv-pos.com/LVPos Admin.apk" class="btn btn-primary wd-100 cl-mg-all cl-btn ff-20" target='_blank'>Admin Apps</a>
                            </div>
                            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 mg-b-10'>
                                <span class='ff-18'>Latest Update : 01 Nov 2016</span>
                                <a ng-href="http://demo.lv-pos.com/LVPos Cashier.apk" class="btn btn-blue wd-100 cl-mg-all cl-btn ff-20" target='_blank'>Cashier Apps</a>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>