<div class='box-menu'>
    <div id='container' ng-controller='mainCtrl'>
        <!--<div class='col-lg-10 col-md-10 col-sm-10 col-xs-3 cl-pad-lr'>
            <div class='col-lg-2 col-md-2 col-sm-2 col-xs-10 bg-logo'>
                <div class='logo'></div>
            </div>
            <div class='col-lg-10 col-md-10 col-sm-10 hidden-xs cl-pad-lr navi'>
                <ul class='cl-mg-tb'>
                    <li ng-if="path == '/dashboard'"><a ng-href='#/dashboard' class='active'>Dashboard</a></li>
                    <li ng-if="path != '/dashboard'"><a ng-href='#/dashboard'>Dashboard</a></li>
                    
                    <li ng-if="path == '/reports'"><a ng-href='#/reports' class='active'>Reports</a></li>
                    <li ng-if="path != '/reports'"><a ng-href='#/reports'>Reports</a></li>
                    
                    <li ng-if="path == '/products'"><a ng-href='#/products' class='active'>Products</a></li>
                    <li ng-if="path != '/products'"><a ng-href='#/products'>Products</a></li>
                    
                    <li ng-if="path == '/inventories/invent-in'"><a ng-href='#/inventories/invent-in' class='active'>Inventories</a></li>
                    <li ng-if="path != '/inventories/invent-in'"><a ng-href='#/inventories/invent-in'>Inventories</a></li>
                    
                    <li ng-if="path == '/customers'"><a ng-href='#/customers' class='active'>Customers</a></li>
                    <li ng-if="path != '/customers'"><a ng-href='#/customers'>Customers</a></li>
                    
                    <li ng-if="path == '/user'"><a ng-href='#/user' class='active'>User</a></li>
                    <li ng-if="path != '/user'"><a ng-href='#/user'>User</a></li>
                    
                    <li ng-if="path == '/outlets'"><a ng-href='#/outlets' class='active'>Outlets</a></li>
                    <li ng-if="path != '/outlets'"><a ng-href='#/outlets'>Outlets</a></li>
                </ul>
            </div>            
        </div>
        <div class='col-lg-2 col-md-2 col-sm-2 col-xs-9 cl-pad-lr'>
            <div layout='row'>
                <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8 cl-pad-lr dropdown'>
                    <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class='col-lg-11 col-md-11 col-sm-11 col-xs-11 cl-pad-lr over-text'>
                            <span class='glyphicon glyphicon-search' aria-hidden="true"></span>
                            <span class='de-outlet' ng-if='accLog.outlet_data == undefined || accLog.outlet_data == ""'>All</span>
                            <span class='de-outlet' ng-if='accLog.outlet_data != undefined && accLog.outlet_data.outlet_name != ""'>{{accLog.outlet_data.outlet_name | uppercase}}</span>
                            <span class='caret'></span>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class='sel-outlet' ng-click='selOutlets()' sel-outlet>ALL</a></li>
                        <li ng-repeat='dt in outlets'><a class='sel-outlet' ng-click='selOutlets(dt)' sel-outlet>{{dt.outlet_name | uppercase}}</a></li>
                    </ul>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-4 col-xs-1 cl-pad-lr dropdown'>
                    <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class='glyphicon glyphicon-user' aria-hidden="true"></span>
                        <span class='caret'></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a>{{accLog.user_fname}} {{accLog.user_lname}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-href='#/settings'>Account Setting</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-controller='dashCtrl'><a ng-click='logout()'><span class='glyphicon glyphicon-log-out' aria-hidden="true"></span> Logout</a></li>
                    </ul>
                </div>
                <div class='hidden-lg hidden-md hidden-sm' flex>
                    <button class='btn btn-menu ff-maroon cl-bod-rad' ng-click="openSide('mainmenu')">
                        <i class="fa fa-bars fa-fw pad-t-5" aria-label="Main Menu"></i>
                    </button>
                </div>
            </div>
        </div>-->
        
        <div layout='row'>
            <div class='bg-logo'>
                <div class='logo'></div>
            </div>
            <span flex></span>
            <div class='dropdown' hide-xs>
                <button class='btn btn-blue mg-all-20' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{tlmenu}}
                    <!--<span class='caret'></span>-->
                </button>
            </div>
            <div class='dropdown'>
                <button class='btn btn-blue mg-all-20' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class='cl-pad-lr over-text'>
                        <span class='glyphicon glyphicon-search' aria-hidden="true"></span>
                        <span class='de-outlet' ng-if='accLog.outlet_data == undefined || accLog.outlet_data == ""'>All</span>
                        <span class='de-outlet' ng-if='accLog.outlet_data.outlet_name != undefined && accLog.outlet_data.outlet_name != ""'>{{accLog.outlet_data.outlet_name | uppercase}}</span>
                        <span class='caret'></span>
                    </span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="top: 55px;">
                    <li><a class='sel-outlet' ng-click='selOutlets()' sel-outlet>ALL</a></li>
                    <li ng-repeat='dt in outlets'><a class='sel-outlet' ng-click='selOutlets(dt)' sel-outlet>{{dt.outlet_name | uppercase}}</a></li>
                </ul>
            </div>
            <div class='dropdown'>
                <button class='btn btn-blue mg-all-20' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class='glyphicon glyphicon-user' aria-hidden="true"></span>
                    <span class='caret'></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="top: 55px;">
                    <li><a>{{accLog.user_fname}} {{accLog.user_lname}}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-href='#/settings'>Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li ng-controller='dashCtrl'><a ng-click='logout()'><span class='glyphicon glyphicon-log-out' aria-hidden="true"></span> Logout</a></li>
                </ul>
            </div>
            <span flex></span>
            <button class='btn btn-primary btn-menu ff-maroon cl-bod-rad' ng-click="openSide('mainmenu')">
                <i class="fa fa-bars fa-fw pad-t-5" aria-label="Main Menu"></i>
            </button>
        </div>
    </div>
</div>