<div class='rel-pos'>
    <div class='abs-pos box-login bod-blue bod-rad4 bg-white-full'>
        <span class='logo'></span>
        <form name="regForm" novalidate>
            <div class="list list-inset cl-mg-all">
                <label class="item item-input rad4-toplr">
                    <input type="text" name='name' ng-model='reg.name' placeholder="Name" required>
                    <i class="icon ion-android-person placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <span class='validForm ff-alert ff-12' ng-show="regForm.name.$dirty && regForm.name.$invalid">
                    <p ng-show="regForm.name.$error.required">Name is a required field</p>
                </span>
                
                <label class="item item-input">
                    <input type="email" name='email' ng-model='reg.email' ng-pattern="/^.+@.+\..+$/" placeholder="Email" required>
                    <i class="icon ion-android-mail placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <span class='validForm ff-alert ff-12' ng-show="regForm.email.$dirty && regForm.email.$invalid">
                    <p ng-show="regForm.email.$error.required">Email is a required field</p>
                    <p ng-show="regForm.email.$invalid && !regForm.email.$pristine">Email must be valid</p>
                </span>
                
                <label class="item item-input rad4-bottomlr">
                    <input type="password" name='password' ng-model='reg.password' placeholder="Password" required>
                    <i class="icon ion-locked placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <span class='validForm ff-alert ff-12' ng-show="regForm.password.$dirty && regForm.password.$invalid">
                    <p ng-show="regForm.password.$error.required">Password is a required field</p>
                </span>
            </div>
            <div class="pad-t-20">
                <button type="submit" class="btn btn-primary btn-lg btn-block ff-16" ng-disabled="regForm.$invalid" ng-click='regAct(reg)'>SIGN UP</button>
            </div>
            <div>
                <span class='col-lg-6 col-md-6 col-sm-6 col-xs-6 cl-pad-lr ff-14 ff-grey'><a ng-href='#/login'>Back to Login</a></span>
                <span class='col-lg-6 col-md-6 col-sm-6 col-xs-6 cl-pad-lr txl-right ff-14 ff-grey'><a ng-href='#/forgot-password'>Forgot Password</a></span>
            </div>
        </form>
        <div class='clean'></div>
    </div>
    <div class='bod-abs-blue'></div>
    <div class='bod-abs-orange'></div>
</div>