<div class="slide-animate" ng-include="mainmenu.url"></div>

<div id='container'>
    <div class='content'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <form name="ppForm" enctype="multipart/form-data">
                    <div class='pad-b-10'>
                        <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Picture</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-md card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <span class="btn btn-primary btn-file">
                                    Browse <input type="file" file-model="myFile">
                                </span>
                                <button type="button" class="btn btn-warning mg-l-5" ng-click="">Delete</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class='layout-gt-sm'>
                        <md-switch ng-model="pp.is_active" ng-true-value="1" ng-false-value="0" class="md-warn" aria-label="Active"></md-switch>
                        <md-input-container class="md-block wd-100">
                            <label>Product Name</label>
                            <input name="product_name" ng-model="pp.product_name" required>
                            <div ng-messages="ppForm.clientName.$error">
                              <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class='layout-gt-sm'>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>SKU / Product Code</label>
                            <input name='product_code' ng-model="pp.product_code">
                            <div ng-messages="ppForm.product_code.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Quantity</label>
                            <input name='product_qty' ng-model="pp.product_qty">
                            <div ng-messages="ppForm.product_qty.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class='layout-gt-sm'>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Basic Price</label>
                            <input name='basic_price' ng-model="pp.product_basic_price" required>
                            <div ng-messages="ppForm.basic_price.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Sales Price</label>
                            <input name='basic_price' ng-model="pp.product_sales_price" required>
                            <div ng-messages="ppForm.basic_price.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea name="product_info" ng-model="pp.product_info['description']" md-maxlength="255" rows="5" md-select-on-focus></textarea>
                        <div ng-messages="ppForm.product_info.$error">
                          <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                        </div>
                    </md-input-container> 
                    <span flex></span>
                    <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="saveAdd(pp)">Save</button>
                    <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
                </form> 
            </div>
        </div>
    </div>
</div>