<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class='layout-gt-sm'>
                    <md-input-container class="md-block wd-100">
                        <label>Name</label>
                        <input name="location_name" ng-model="pp.location_name" required>
                        <div ng-messages="ppForm.location_name.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class='layout-gt-sm'>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <textarea name="location_desc" ng-model="pp.location_desc" md-maxlength="255" rows="5" md-select-on-focus></textarea>
                        <div ng-messages="ppForm.location_desc.$error">
                          <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>