<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class='pad-b-10'>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Picture</span>
                                <span class="md-subhead">
                                    <label ng-if="pp.user_info.image_url == undefined">
                                        <label ng-if="pp.user_info.files.name == undefined">No Image</label>
                                        <label ng-if="pp.user_info.files.name != ''">{{pp.user_info.files.name}}</label>
                                    </label>
                                    <label ng-if="pp.user_info.image_url != ''">{{pp.user_info.image_url}}</label>
                                </span>
                                <!--<input type="hidden" name="image_url" ng-model="pp.user_info.image_url">-->
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <span class="btn btn-primary btn-file">
                                Browse <input type="file" file-model="myFile">
                            </span>
                            <button type="button" class="btn btn-warning mg-l-5" ng-click="">Delete</button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div class='layout-gt-sm'>
                    <md-switch ng-model="pp.is_active" ng-true-value="1" ng-false-value="0" class="md-warn" aria-label="Active"></md-switch>
                    <md-input-container class="md-block wd-100">
                        <label>Email</label>
                        <input name="user_email" ng-model="pp.user_email" required>
                        <div ng-messages="ppForm.clientName.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block ">
                    <label>Password</label>
                    <input type="password" name="user_password" ng-model="pp.user_password" required>
                    <div ng-messages="ppForm.user_password.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div class='layout-gt-sm'>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First Name</label>
                        <input name='user_fname' ng-model="pp.user_fname">
                        <div ng-messages="ppForm.user_fname.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input name='user_lname' ng-model="pp.user_lname">
                        <div ng-messages="ppForm.user_lname.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block ">
                    <label>Phone</label>
                    <input name="user_phone" ng-model="pp.user_info['user_phone']">
                    <div ng-messages="ppForm.user_phone.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>