<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class='layout-gt-sm'>
                    <md-input-container class="md-block wd-100">
                        <label>Role Name</label>
                        <input name="role_name" ng-model="pp.role_name" required>
                        <div ng-messages="ppForm.role_name.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-list ng-repeat="role in pp.role_menus">
                    <md-subheader class="md-no-sticky">{{role.menu_name}}</md-subheader>
                    <md-list-item>
                      <p>Access</p><md-checkbox class="md-secondary" ng-model="role.enable_access" ng-true-value="1" ng-false-value="0"></md-checkbox>
                    </md-list-item>
                    <md-list-item>
                      <p>Create</p><md-checkbox class="md-secondary" ng-model="role.enable_create" ng-true-value="1" ng-false-value="0"></md-checkbox>
                    </md-list-item>
                    <md-list-item>
                      <p>Update</p><md-checkbox class="md-secondary" ng-model="role.enable_update" ng-true-value="1" ng-false-value="0"></md-checkbox>
                    </md-list-item>
                    <md-list-item>
                      <p>Destroy</p><md-checkbox class="md-secondary" ng-model="role.enable_destroy" ng-true-value="1" ng-false-value="0"></md-checkbox>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>