<md-dialog aria-label="Add Item" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class='over-text'>Receipt No {{dt.sales_receipt_no}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <style>
                table {
                    width: 100%;
                    border: none;
                    border-collapse: collapse;
                    border-spacing: 0;
                }
            </style>
            <table>
                <tr class='txl-center'>
                    <td><h3 class='cl-mg-t'>Logivar</h3></td>
                </tr>
                <tr class='txl-center'>
                    <td>Jalan Raya Bogor Km 100<br><i class='fa fa-phone fa-fw' aria-label='Phone'></i> 0987654321</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 30%;'>Date</td><td class='txl-right'>{{dt.updated_at | date:'dd MMM yyyy HH:mm:ss'}}</td>
                </tr>
                <tr>
                    <td style='width: 30%;'>Receipt No</td><td class='txl-right'>{{dt.sales_receipt_no}}</td>
                </tr>
                <tr>
                    <td style='width: 30%;'>Served By</td><td class='txl-right'></td>
                </tr>
                <tr>
                    <td style='width: 30%;'>Collected By</td><td class='txl-right'>{{dt.sales_receipt_person.name}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr ng-repeat='cc in dt.sales_receipt_items' class='mg-tb-10'>
                    <td style='width: 50%;'>{{cc.product_name}}<br>Rp {{valFormat(cc.product_sales_price*1)}}</td>
                    <td style='width: 10%;' class='txl-right'>x{{cc.qty}}</td>
                    <td style='width: 40%;' class='txl-right'>Rp {{valFormat(cc.product_sales_price*cc.qty)}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 40%;'><h3>Subtotal</h3></td><td class='txl-right'><h3>Rp {{subtotal}}</h3></td>
                </tr>
                <tr ng-if="dt.sales_receipt_disc_amount != undefined && dt.sales_receipt_disc_amount != 0">
                    <td style='width: 40%;'>Discount</td><td class='txl-right'>(Rp {{valFormat(dt.sales_receipt_disc_amount)}})</td>
                </tr>
                <tr ng-if="dt.sales_receipt_tax_amount != undefined && dt.sales_receipt_tax_amount != 0">
                    <td style='width: 40%;'>Tax (PPN {{dt.sales_receipt_tax}}%)</td><td class='txl-right'>Rp {{valFormat(dt.sales_receipt_tax_amount)}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 40%;'><h3>Grand Total</h3></td><td class='txl-right'><h3>Rp {{total(2)}}</h3></td>
                </tr>
                <tr ng-if="dt.sales_receipt_charges_amount != undefined && dt.sales_receipt_charges_amount != 0">
                    <td style='width: 40%;'>Charge</td><td class='txl-right'>Rp {{valFormat(dt.sales_receipt_charges_amount)}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td style='width: 40%;'><h3 class='mg-tb-10'>Total</h3></td><td class='txl-right'><h3 class='mg-tb-10'>Rp {{total(3)}}</h3></td>
                </tr>
                <tr>
                    <td style='width: 40%;'>Cash</td><td class='txl-right'>Rp {{valFormat(dt.sales_receipt_paid)}}</td>
                </tr>
                <tr>
                    <td style='width: 40%;'>Change</td><td class='txl-right'>Rp {{change(dt.sales_receipt_paid)}}</td>
                </tr>
            </table>
        </div>
    </md-dialog-content>
    <md-dialog-actions class='flex-none disp-block pad-lr-10'>
        <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 cl-pad-lr txl-left'>
            <button type="button" ng-click="reprint(null, dt.sales_receipt_no)" class="btn btn-primary" aria-label="Print Receipt">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            </button>
        </div>
        <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10 cl-pad-lr txl-right'>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="answer('resend')">Resend Receipt</button>
            <button type="button" class="btn btn-danger mg-l-5" ng-click="answer('refund')">Issue Refund</button>
        </div>
    </md-dialog-actions>
</md-dialog>