<div class="slide-animate" ng-include="mnmenu.url1"></div>
<div class="slide-animate" ng-include="mnmenu.url2"></div>
<div class="slide-animate" ng-include="mnmenu.urlsd"></div>
 
<div class='over-content bg-grey'>
    <div id='container'>
        <div class='content'>
            <div class='col-lg-3 col-md-4 col-sm-5 col-xs-8 cl-pad-lr'>
                <div layout='row'>
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker" placeholder="Date">
                    <button type="button" class="btn btn-primary cl-btn mg-l-5" ng-click="proDash(datePicker)">Proceed</button>
                </div>
            </div>
            <div class='col-lg-9 col-md-8 col-sm-7 col-xs-4 cl-pad-lr txl-right b-action no-top'>
                <button type="button" class="btn btn-primary" ng-click="exportdata()">Export</button>
            </div>
            <div class='clean'></div>
            
            <span ng-if='type == 1'>
                <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 cl-pad-lr'>
                    <div class='mg-tb-20 mg-r-10 cl-mg-resb cl-mg-reslr'>
                        <div class="btn-group-vertical wd-100" role="group">
                            <a ng-href='#/reports' ng-if="path == '/reports'" class="btn btn-warning cl-btn txl-left pad-tb-10 active">Sales Summary</a>
                            <a ng-href='#/reports' ng-if="path != '/reports'" class="btn btn-warning cl-btn txl-left pad-tb-10">Sales Summary</a>
                            
                            <a ng-href='#/reports/item-sales' ng-if="path == '/reports/item-sales'" class="btn btn-warning cl-btn txl-left pad-tb-10 active">Item Sales</a>
                            <a ng-href='#/reports/item-sales' ng-if="path != '/reports/item-sales'" class="btn btn-warning cl-btn txl-left pad-tb-10">Item Sales</a>
                            
                            <a ng-href='#/reports/category-sales' ng-if="path == '/reports/category-sales'" class="btn btn-warning cl-btn txl-left pad-tb-10 active">Category Sales</a>
                            <a ng-href='#/reports/category-sales' ng-if="path != '/reports/category-sales'" class="btn btn-warning cl-btn txl-left pad-tb-10">Category Sales</a>
                        </div>
                    </div>
                </div>
                <div class='col-lg-9 col-md-9 col-sm-8 col-xs-12 cl-pad-lr'>
                    <div class='panel panel-default mg-tb-20'>
                        <div class="slide-animate" ng-include="mainCT"></div>
                    </div>
                </div>
                <div class='clean'></div>
            </span>
            <span ng-if='type == 2'>
                <div class='mg-t-20'>
                    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                        <div class='panel panel-default'>
                            <div class='panel-body'>
                                <div class='ss-mon'>
                                    Rp {{valFormat(ls.gross_sales)}}
                                </div>
                                <div class='ss-title'>
                                    Gross Sales
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                        <div class='panel panel-default'>
                            <div class='panel-body'>
                                <div class='ss-mon'>
                                    Rp {{valFormat(ls.nett_sales)}}
                                </div>
                                <div class='ss-title'>
                                    Nett Sales
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                        <div class='panel panel-default'>
                            <div class='panel-body'>
                                <div class='ss-mon'>
                                    {{ls.number_of_transactions}}
                                </div>
                                <div class='ss-title'>
                                    Number of Transactions
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                        <div class='panel panel-default'>
                            <div class='panel-body'>
                                <div class='ss-mon'>
                                    Rp {{ceilFormat(ls.avg_sale_per_transaction)}}
                                </div>
                                <div class='ss-title'>
                                    AVG. Sale Per Transaction
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='clean'></div>
                </div>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 cl-pad-lr'>
                    <div class='panel panel-default mg-b-20'>
                        <div class="slide-animate" ng-include="mainCT"></div>
                    </div>
                </div>
                <div class='clean'></div>
            </span>
        </div>
    </div>
</div>