<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="main">
                    <md-content class="md-padding">
                        <div class='pad-b-10'>
                            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Picture</span>
                                        <span class="md-subhead">
                                            <label ng-if="pp.product_info.image_url == undefined">
                                                <label ng-if="pp.product_info.files.name == undefined">No Image</label>
                                                <label ng-if="pp.product_info.files.name != ''">{{pp.product_info.files.name}}</label>
                                            </label>
                                            <label ng-if="pp.product_info.image_url != ''">{{pp.product_info.image_url}}</label>
                                        </span>
                                        <!--<input type="hidden" name="image_url" ng-model="pp.product_info.image_url">-->
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-md card-media" ng-if="pp.product_info.image_url == undefined"></div>
                                        <div class="md-media-md card-media" ng-if="pp.product_info.image_url != undefined" style='background: url("{{pic}}{{pp.product_info.image_url}}") no-repeat center center; background-size: contain;'></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input type="file" file-model="myFile">
                                    </span>
                                    <button type="button" class="btn btn-warning mg-l-5" ng-click="delPic()">Delete</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                        <div class='layout-gt-xs'>
                            <md-switch ng-model="pp.is_active" ng-true-value="1" ng-false-value="0" class="md-warn" aria-label="Active"></md-switch>
                            <md-input-container class="md-block wd-100">
                                <label>Product Name</label>
                                <input name="product_name" ng-model="pp.product_name" required>
                                <div ng-messages="ppForm.product_name.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <!--<div class='layout-gt-xs'>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Category</label>
                                <md-select ng-model="pp.category_id" md-on-close="clearSearchTerm()" data-md-container-class="selectMulti" multiple>
                                    <md-select-header class="selHeader">
                                        <input type="search" ng-model="searchTerm" placeholder="Search..." class="searchbox _md-text" search-type>
                                    </md-select-header>
                                    <md-optgroup label="category">
                                        <md-option ng-value="dt1.category_id"
                                                   ng-selected="checkCat(dt1.category_id)"
                                                   ng-repeat="dt1 in catData | filter:searchTerm">{{dt1.category_name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>-->
                        <div class='layout-gt-xs'>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>SKU / Product Code</label>
                                <input name='product_code' ng-model="pp.product_code">
                                <div ng-messages="ppForm.product_code.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Quantity</label>
                                <input name='product_qty' ng-model="pp.product_qty" disabled>
                                <div ng-messages="ppForm.product_qty.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class='layout-gt-xs'>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Basic Price</label>
                                <input name='basic_price' ng-model="pp.product_basic_price" required>
                                <div ng-messages="ppForm.basic_price.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Sales Price</label>
                                <input name='basic_price' ng-model="pp.product_sales_price" required>
                                <div ng-messages="ppForm.basic_price.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class='layout-gt-xs'>
                            <md-input-container class="md-block wd-100">
                                <label>Type</label>
                                <md-select name="product_type" ng-model="pp.product_type" class='txl-cp' required>
                                    <md-option ng-repeat="r in prodType" ng-value="r" class='txl-cp'>{{r}}</md-option>
                                </md-select>
                                <div ng-messages="ppForm.product_type.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea name="product_info" ng-model="pp.product_info['description']" md-maxlength="255" rows="5" md-select-on-focus></textarea>
                            <div ng-messages="ppForm.product_info.$error">
                              <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="category">
                    <md-content class="md-padding">
                        <md-input-container class="md-block cl-mg-b">
                            <input type="search" ng-model="searchCat" placeholder="Search...">
                        </md-input-container>
                        <md-list class='cl-pad-all'>
                            <md-list-item ng-repeat="dt1 in catData | filter:searchCat">
                                <p>{{dt1.category_name | uppercase}}</p><md-checkbox class="md-secondary" ng-model="dt1.selected" check-cat></md-checkbox>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="outlet">
                    <md-content class="md-padding">
                        <md-input-container class="md-block cl-mg-b">
                            <input type="search" ng-model="searchOutlet" placeholder="Search...">
                        </md-input-container>
                        <md-list class='cl-pad-all'>
                            <md-list-item ng-repeat="dt2 in outletData | filter:searchOutlet">
                                <p>{{dt2.outlet_name | uppercase}}</p><md-checkbox class="md-secondary" ng-model="dt2.selected" check-outlet></md-checkbox>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>