<div class="slide-animate" ng-include="mnmenu.url1"></div>
<div class="slide-animate" ng-include="mnmenu.url2"></div>
<div class="slide-animate" ng-include="mnmenu.urlsd"></div>

<div class='over-content bg-grey'> 
    <div id='container'>
        <div class='content'>
            <div class='col-lg-3 col-md-4 col-sm-5 col-xs-8 cl-pad-lr'>
                <div layout='row'>
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker" placeholder="Date">
                    <button type="button" class="btn btn-primary cl-btn mg-l-5" ng-click="proDash(datePicker)">Proceed</button>
                </div>
            </div>
            <div class='clean'></div>
            
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 cl-pad-lr mg-t-10'>
                <!--<div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 cl-pad-l c-sort'>
                    <select name='sorting' ng-model='sorting' ng-change='sortData(sorting)' class="form-control">
                        <option value=''>Sorting</option>
                    </select>
                </div>-->
                <div class='col-lg-6 col-md-6 col-sm-8 col-xs-12 cl-pad-l c-search'>
                    <input type='text' name='search' ng-model='searchTable' class="form-control" placeholder='Search'>
                </div>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 cl-pad-lr mg-t-10 txl-right b-action'>
                <button class='btn btn-default'>Total : {{listcount}}</button>
                <!--<div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Import / Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a ng-href=''>Import {{tlmenu}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-href='#{{path}}/add'>Export {{tlmenu}}</a></li>
                    </ul>
                </div>-->
                <button class='btn btn-primary' ng-click='showAdd()'>Add Inventory In</button>
            </div>
            <div class='clean'></div>
            
            <div class='panel panel-default mg-tb-20'>
                <table id='flip-scroll' class='table table-hover flexy col5'>
                    <thead>
                        <tr>
                            <th>Receipt No</th>
                            <th>Date</th>
                            <th class='hidden-xs'>Person</th>
                            <th class='hidden-xs'>Items</th>
                            <th class='txl-center'>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='dt in listdata | filter:searchTable' ng-model='dt.inventory_receipt_id'>
                            <td>{{dt.inventory_receipt_no | uppercase}}</td>
                            <td>{{dt.inventory_receipt_date | date:'dd-MMM-yyyy'}}</td>
                            <td class='hidden-xs'>{{dt.inventory_receipt_person.name | uppercase}}</td>
                            <td class='hidden-xs'>
                                <span class='over-text'>
                                    <span ng-repeat='s in dt.inventory_receipt_items' class='ff-comma'>{{s.product_name}}</span>
                                </span>
                            </td>
                            <td class='txl-center'>
                                <button type="button" ng-click="showData(null, dt)" class="btn btn-warning btn-sm" aria-label="Show Detail">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>