<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{pp.inventory_receipt_no}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class='mg-b-10' layout='row'>
                    <span>Receipt Date</span>
                    <span flex></span>
                    <span>{{pp.inventory_receipt_date | date:'dd-MMM-yyyy'}}</span>
                </div>
                <div class='mg-b-10' layout='row'>
                    <span>Person Name</span>
                    <span flex></span>
                    <span>{{pp.inventory_receipt_person.name | uppercase}}</span>
                </div>
                <table class='table table-striped cl-mg-tb'>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class='txl-right'>Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='r in pp.inventory_receipt_items'>
                            <td>{{r.product_name}}</td>
                            <td class='txl-right'>{{r.qty}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>