<div class='sub-menu'>
    <div id='container'>
        <ul class='cl-mg-tb'>
            <li ng-if="path == '/outlets'"><a ng-href='#/outlets' class='active'>Outlets</a></li>
            <li ng-if="path != '/outlets'"><a ng-href='#/outlets'>Outlets</a></li>
        </ul>
    </div>
</div>
<div id='container' hide-gt-xs>
    <p class='btn btn-blue cl-btn ss-btn mg-t-10 wd-100 ff-18 txl-left txl-up'>{{tlmenu}}</p>
</div>