<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="main">
                    <md-content class="md-padding">
                        <div class='pad-b-10'>
                            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Picture</span>
                                        <span class="md-subhead">
                                            <label ng-if="pp.category_info.image_url == undefined">
                                                <label ng-if="pp.category_info.files.name == undefined">No Image</label>
                                                <label ng-if="pp.category_info.files.name != ''">{{pp.category_info.files.name}}</label>
                                            </label>
                                            <label ng-if="pp.category_info.image_url != ''">{{pp.category_info.image_url}}</label>
                                        </span>
                                        <!--<input type="hidden" name="image_url" ng-model="pp.category_info.image_url">-->
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-md card-media" ng-if="pp.category_info.image_url == undefined"></div>
                                        <div class="md-media-md card-media" ng-if="pp.category_info.image_url != undefined" style='background: url("{{pic}}{{pp.category_info.image_url}}") no-repeat center center; background-size: contain;'></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input type="file" file-model="myFile">
                                    </span>
                                    <button type="button" class="btn btn-warning mg-l-5" ng-click="delPic()">Delete</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                        <div class='layout-gt-sm'>
                            <md-switch ng-model="pp.is_active" ng-true-value="1" ng-false-value="0" class="md-warn" aria-label="Active"></md-switch>
                            <md-input-container class="md-block wd-100">
                                <label>Category Name</label>
                                <input name="category_name" ng-model="pp.category_name" required>
                                <div ng-messages="ppForm.category_name.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea name="category_info" ng-model="pp.category_info['description']" md-maxlength="255" rows="5" md-select-on-focus></textarea>
                            <div ng-messages="ppForm.category_info.$error">
                              <div ng-message="md-maxlength">The name has to be less than 255 characters long.</div>
                            </div>
                        </md-input-container> 
                    </md-content>
                </md-tab>
                <md-tab label="Product">
                    <md-content class="md-padding">
                        <md-input-container class="md-block cl-mg-b">
                            <input type="search" ng-model="searchTerm" placeholder="Search...">
                        </md-input-container>
                        <md-list class='cl-pad-all'>
                            <md-list-item ng-repeat="dt1 in prodData | filter:searchTerm">
                                <span class="md-avatar" style='background: url("{{pic}}{{dt1.product_info.image_url}}") no-repeat center center; background-size: contain;'></span>
                                <p>{{dt1.product_name | uppercase}}</p><md-checkbox class="md-secondary" ng-model="dt1.selected" check-prod></md-checkbox>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>