<div class="slide-animate" ng-include="mnmenu.url1"></div>
<div class="slide-animate" ng-include="mnmenu.url2"></div>
<div class="slide-animate" ng-include="mnmenu.urlsd"></div>
 
<div class='over-content bg-grey'> 
    <div id='container'>
        <div class='content'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 cl-pad-lr'>
                <!--<div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 cl-pad-l c-sort'>
                    <select name='sorting' ng-model='sorting' ng-change='sortData(sorting)' class="form-control">
                        <option value=''>Sorting</option>
                    </select>
                </div>-->
                <div class='col-lg-6 col-md-6 col-sm-8 col-xs-12 cl-pad-l c-search'>
                    <input type='text' name='search' ng-model='searchTable' class="form-control" placeholder='Search'>
                </div>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 cl-pad-lr txl-right b-action'>
                <button class='btn btn-default'>Total : {{listcount}}</button>
                <!--<div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Import / Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a ng-href=''>Import {{tlmenu}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-href='#{{path}}/add'>Export {{tlmenu}}</a></li>
                    </ul>
                </div>-->
                <button class='btn btn-primary' ng-click='showAdd()'>Add Roles</button>
            </div>
            <div class='clean'></div>
            
            <div class='panel panel-default mg-tb-20'>
                <table id='flip-scroll' class='table table-hover flexy col2'>
                    <thead>
                        <tr>
                            <th class='txl-center'>Role Name</th>
                            <th class='txl-center'>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='dt in listdata | filter:searchTable' ng-model='dt.role_id'>
                            <td class='txl-center'>{{dt.role_name | capitalize}}</td>
                            <td class='txl-center'>
                                <button type="button" ng-click="showEdit(null, dt.role_id)" class="btn btn-warning btn-sm" aria-label="Edit Role">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button type="button" ng-click="delID(dt.role_id)" class="btn btn-danger btn-sm" aria-label="Delete Role">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>