<div class='sub-menu'>
    <div id='container'>
        <ul class='cl-mg-tb'>
            <li ng-if="path == '/products'"><a ng-href='#/products' class='active'>Item Products</a></li>
            <li ng-if="path != '/products'"><a ng-href='#/products'>Item Products</a></li>
            
            <li ng-if="path == '/products/categories'"><a ng-href='#/products/categories' class='active'>Categories</a></li>
            <li ng-if="path != '/products/categories'"><a ng-href='#/products/categories'>Categories</a></li>
            
            <li ng-if="path == '/products/packages'"><a ng-href='#/products/packages' class='active'>Packages</a></li>
            <li ng-if="path != '/products/packages'"><a ng-href='#/products/packages'>Packages</a></li>
            
            <!--<<li ng-if="path == '/products/promotions'"><a ng-href='#/products/promotions' class='active'>Promotions</a></li>
            <li ng-if="path != '/products/promotions'"><a ng-href='#/products/promotions'>Promotions</a></li>
        
            <li ng-if="path == '/products/taxes'"><a ng-href='#/products/taxes' class='active'>Taxes</a></li>
            <li ng-if="path != '/products/taxes'"><a ng-href='#/products/taxes'>Taxes</a></li>
        
            <li ng-if="path == '/products/gratuity'"><a ng-href='#/products/gratuity' class='active'>Gratuity</a></li>
            <li ng-if="path != '/products/gratuity'"><a ng-href='#/products/gratuity'>Gratuity</a></li>-->
        </ul>
    </div>
</div>
<div id='container' hide-gt-xs>
    <p class='btn btn-blue cl-btn ss-btn mg-t-10 wd-100 ff-18 txl-left txl-up'>{{tlmenu}}</p>
</div>