<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="mainmenu">
    <md-content class='bg-green rel-pos'>
        <div class='abs-pos' layout="column" layout-align="center none">
            
            <a ng-href='#/dashboard' ng-if="path == '/dashboard'" class='main-menu activated'>
                <span>Dashboard</span><i class="fa fa-home fa-fw" aria-label="Dashboard"></i>
            </a>
            <a ng-href='#/dashboard' ng-if="path != '/dashboard'" class='main-menu'>
                <span>Dashboard</span><i class="fa fa-home fa-fw" aria-label="Dashboard"></i>
            </a>
            
            <a ng-href='#/reports' ng-if="path == '/reports'" class='main-menu activated'>
                <span>Reports</span><i class="fa fa-file-text fa-fw" aria-label="Reports"></i>
            </a>
            <a ng-href='#/reports' ng-if="path != '/reports'" class='main-menu'>
                <span>Reports</span><i class="fa fa-file-text fa-fw" aria-label="Reports"></i>
            </a>
            
            <a ng-href='#/products' ng-if="path == '/products'" class='main-menu activated'>
                <span>Products</span><i class="fa fa-book fa-fw" aria-label="products"></i>
            </a>
            <a ng-href='#/products' ng-if="path != '/products'" class='main-menu'>
                <span>Products</span><i class="fa fa-book fa-fw" aria-label="products"></i>
            </a>
            
            <a ng-href='#/inventories/invent-in' ng-if="path == '/inventories/invent-in'" class='main-menu activated'>
                <span>Inventories</span><i class="fa fa-cubes fa-fw" aria-label="invent-in"></i>
            </a>
            <a ng-href='#/inventories/invent-in' ng-if="path != '/inventories/invent-in'" class='main-menu'>
                <span>Inventories</span><i class="fa fa-cubes fa-fw" aria-label="invent-in"></i>
            </a>
            
            <a ng-href='#/customers' ng-if="path == '/customers'" class='main-menu activated'>
                <span>Customers</span><i class="fa fa-users fa-fw" aria-label="Customers"></i>
            </a>
            <a ng-href='#/customers' ng-if="path != '/customers'" class='main-menu'>
                <span>Customers</span><i class="fa fa-users fa-fw" aria-label="Customers"></i>
            </a>
            
            <a ng-href='#/user' ng-if="path == '/user'" class='main-menu activated'>
                <span>User</span><i class="fa fa-user-secret fa-fw" aria-label="User"></i>
            </a>
            <a ng-href='#/user' ng-if="path != '/user'" class='main-menu'>
                <span>User</span><i class="fa fa-user-secret fa-fw" aria-label="User"></i>
            </a>
            
            <a ng-href='#/outlets' ng-if="path == '/outlets'" class='main-menu activated'>
                <span>Outlets</span><i class="fa fa-tasks fa-fw" aria-label="Outlets"></i>
            </a>
            <a ng-href='#/outlets' ng-if="path != '/outlets'" class='main-menu'>
                <span>Outlets</span><i class="fa fa-tasks fa-fw" aria-label="Outlets"></i>
            </a>
            
            <!--<button class='main-menu'>
                <a ng-click='logout()'><span>Logout</span><i class="fa fa-sign-out fa-fw" aria-label="Logout"></i></a>
            </button>-->
        </div>
    </md-content>
</md-sidenav>