<table class='table table-striped cl-mg-tb'>
    <thead>
        <tr>
            <th colspan=2>Sales Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gross Sales</td>
            <td class='txl-right'>Rp {{valFormat(ls.gross_sales)}}</td>
        </tr>
        <tr>
            <td>Nett Sales</td>
            <td class='txl-right'>Rp {{valFormat(ls.nett_sales)}}</td>
        </tr>
        <tr>
            <td>Number of Transactions</td>
            <td class='txl-right'>{{ls.number_of_transactions}}</td>
        </tr>
        <tr>
            <td>AVG. Sale Per Transaction</td>
            <td class='txl-right'>Rp {{ceilFormat(ls.avg_sale_per_transaction)}}</td>
        </tr>
    </tbody>
</table>