<table class='table table-hover flexy col5'>
    <thead>
        <tr>
            <th>Receipt No</th>
            <th>Date Time</th>
            <th hide-xs>User</th>
            <th hide-xs>Items</th>
            <th class='txl-right'>Total</th>
        </tr>
    </thead>
    <tbody class='rr'>
        <tr ng-repeat='r in listdata track by $index' class='cursor' ng-click="showDetail(null, r.sales_receipt_no)">
            <td>{{r.sales_receipt_no}}</td>
            <td>{{datetime(r.sales_receipt_date) | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
            <td hide-xs>{{r.sales_receipt_person.name}}</td>
            <td hide-xs>
                <span class='over-text'>
                    <span ng-repeat='s in r.sales_receipt_items' class='ff-comma'>{{s.product_name}}</span>
                </span>
            </td>
            <td class='txl-right'>Rp {{valFormat(r.sales_receipt_total)}}</td>
        </tr>
    </tbody>
</table>