<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data" hid-scanner>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="main">
                    <md-content class="md-padding">
                        <div class='pad-b-10'>
                            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Picture</span>
                                        <span class="md-subhead">
                                            <label ng-if="pp.package_pic_file.image_url == undefined">
                                                <label ng-if="pp.package_pic_file.files.name == undefined">No Image</label>
                                                <label ng-if="pp.package_pic_file.files.name != ''">{{pp.package_pic_file.files.name}}</label>
                                            </label>
                                            <label ng-if="pp.package_pic_file.image_url != ''">{{pp.package_pic_file.image_url}}</label>
                                        </span>
                                        <!--<input type="hidden" name="image_url" ng-model="pp.package_pic_file.image_url">-->
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-md card-media" ng-if="pp.package_pic_file.image_url == undefined"></div>
                                        <div class="md-media-md card-media" ng-if="pp.package_pic_file.image_url != undefined" style='background: url("{{pic}}{{pp.package_pic_file.image_url}}") no-repeat center center; background-size: contain;'></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input type="file" file-model="myFile">
                                    </span>
                                    <button type="button" class="btn btn-warning mg-l-5" ng-click="delPic()">Delete</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                        <div class='layout-gt-xs'>
                            <md-switch ng-model="pp.is_active" ng-true-value="1" ng-false-value="0" class="md-warn" aria-label="Active"></md-switch>
                            <md-input-container class="md-block wd-100">
                                <label>Package Name</label>
                                <input name="package_name" ng-model="pp.package_name" required>
                                <div ng-messages="ppForm.package_name.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Price</label>
                            <input name='package_price' ng-model="pp.package_price" required>
                            <div ng-messages="ppForm.package_price.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="product">
                    <md-content class="md-padding">
                        <div ng-repeat='r in ppackData' layout='row'>
                            <md-input-container class="md-block wd-100">
                                <label>Product</label>
                                <md-select ng-model="r.product_id" md-on-close="clearSearchTerm()" data-md-container-class="selectMulti">
                                    <md-select-header class="selHeader">
                                        <input type="search" ng-model="searchTerm" placeholder="Search..." class="searchbox _md-text" search-type>
                                    </md-select-header>
                                    <md-optgroup label="product">
                                        <md-option ng-repeat="dt1 in prodData | filter:searchTerm" ng-value="dt1.product_id">{{dt1.product_name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                            <span flex></span>
                            <md-input-container class="md-block">
                                <label>Qty</label>
                                <input ng-model="r.qty" required>
                                <div ng-messages="ppForm.qty.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <button class="btn btn-primary btn-size mg-l-10" ng-click="addPack()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-danger btn-size mg-l-5" ng-click="rmPack(r)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>