<div class="slide-animate" ng-include="mnmenu.url1"></div>
<div class="slide-animate" ng-include="mnmenu.url2"></div>
<div class="slide-animate" ng-include="mnmenu.urlsd"></div>

<div class='over-content bg-grey'> 
    <div id='container'>
        <div class='content'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 cl-pad-lr'>
                <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 cl-pad-l c-sort'>
                    <select name='sorting' ng-model='sorting' ng-change='sortData(sorting)' class="form-control">
                        <option value=''>Sorting</option>
                    </select>
                </div>
                <div class='col-lg-6 col-md-6 col-sm-8 col-xs-12 cl-pad-l c-search'>
                    <input type='text' name='search' ng-model='searchTable' class="form-control" placeholder='Search'>
                </div>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 cl-pad-lr txl-right b-action'>
                <button class='btn btn-default'>Total : {{listcount}}</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Import / Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a ng-href=''>Import {{tlmenu}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-href='#{{path}}/add'>Export {{tlmenu}}</a></li>
                    </ul>
                </div>
            </div>
            <div class='clean'></div>
            
            <div class='panel panel-default mg-tb-20'>
                <table id='flip-scroll' class='table table-hover flexy col8'>
                    <thead class='cf'>
                        <tr>
                            <th>Name - Variant</th>
                            <th>Category</th>
                            <th class='txl-center hidden-xs'>Begining</th>
                            <th class='txl-center hidden-xs'>Purchase Order</th>
                            <th class='txl-center'>Sales</th>
                            <th class='txl-center hidden-xs'>Transfer</th>
                            <th class='txl-center hidden-xs'>Adjustment</th>
                            <th class='txl-center hidden-xs'>Ending</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='dt in listdata | filter:searchTable' ng-model='dt.customer_id'>
                            <td></td>
                            <td></td>
                            <td class='hidden-xs'></td>
                            <td class='hidden-xs'></td>
                            <td></td>
                            <td class='hidden-xs'></td>
                            <td class='hidden-xs'></td>
                            <td class='hidden-xs'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>