<table class='table table-striped cl-mg-tb'>
    <thead>
        <tr>
            <th>Category</th>
            <th class='txl-center'>Item Sold</th>
            <th class='txl-right'>Gross Sales</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='r in ls' ng-if='r.category_name != null'>
            <td>{{r.category_name | capitalize}}</td>
            <td class='txl-center'>{{r.total}}</td>
            <td class='txl-right'></td>
        </tr>
    </tbody>
</table>