<table class='table table-hover flexy col5'>
    <thead>
        <tr>
            <th>Name</th>
            <th hide-xs>SKU</th>
            <th class='txl-center' hide-xs>Sales Price</th>
            <th class='txl-center'>Item Sold</th>
            <th class='txl-right'>Gross Sales</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='r in ls'>
            <td>{{r.product_name}}</td>
            <td hide-xs>{{r.product_code}}</td>
            <td class='txl-center' hide-xs>Rp {{valFormat(r.product_sales_price)}}</td>
            <td class='txl-center'>{{r.qty}}</td>
            <td class='txl-right'>Rp {{valFormat(r.gross_sales)}}</td>
        </tr>
    </tbody>
</table>