<div class='rel-pos'>
    <div class='abs-pos box-login bod-blue bod-rad4 bg-white-full'>
        <span class='logo'></span>
        <form name="loginForm" novalidate>
            <div class="list list-inset cl-mg-all">
                <label class="item item-input rad4-toplr">
                    <input type="email" name="email" ng-model="login.email" ng-pattern="/^.+@.+\..+$/" placeholder="Email" required/>
                    <i class="icon ion-android-mail placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <span class='validForm ff-alert ff-12' ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                    <p ng-show="loginForm.email.$error.required">Email is a required field</p>
                    <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Email must be valid</p>
                </span>
                <label class="item item-input rad4-bottomlr">
                    <input type="password" name="password" ng-model="login.password" placeholder="Password" required/>
                    <i class="icon ion-locked placeholder-icon pad-lr-8 ff-grbright"></i>
                </label>
                <span class='validForm ff-alert ff-12' ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                    <p ng-show="loginForm.password.$error.required">Password is a required field</p>
                </span>
            </div>
            <div class="pad-t-20">
                <button type="submit" class="btn btn-primary btn-lg btn-block ff-14" ng-disabled="loginForm.$invalid" ng-click='loginAct(login)'>SIGN IN</button>
            </div>
            <div>
                <span class='col-lg-6 col-md-6 col-sm-6 col-xs-6 cl-pad-lr ff-14 ff-grey'><a ng-href='#/create-account'>Create Account</a></span>
                <span class='col-lg-6 col-md-6 col-sm-6 col-xs-6 cl-pad-lr txl-right ff-14 ff-grey'><a ng-href='#/forgot-password'>Forgot Password</a></span>
            </div>
        </form>
        <div class='clean'></div>
    </div>
    <div class='bod-abs-blue'></div>
    <div class='bod-abs-orange'></div>
</div>