<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block mg-b-20">
                    <label>Total</label>
                    <input ng-model="pp.refund_total" ng-value="{{xsubtotal(3)}}" required>
                    <div ng-messages="ppForm.refund_total.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Reason for Refund</label>
                    <md-select ng-model="pp.reason" required>
                        <md-option value="Returned Goods">Returned Goods</md-option>
                        <md-option value="Accident Charge">Accident Charge</md-option>
                        <md-option value="Canceled Order">Canceled Order</md-option>
                        <md-option value="Other">Other</md-option>
                    </md-select>
                    <div ng-messages="ppForm.reason.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" ng-if="pp.reason == 'Other'">
                    <label>Other</label>
                    <input ng-model="pp.reason_other" ng-required="pp.reason == 'Other'" required>
                    <div ng-messages="ppForm.reason_other.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Refund</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="answer('cancel')">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>