<div class='sub-menu'>
    <div id='container'>
        <ul class='cl-mg-tb'>
            <li ng-if="path == '/user'"><a ng-href='#/user' class='active'>Staff</a></li>
            <li ng-if="path != '/user'"><a ng-href='#/user'>Staff</a></li>
            
            <li ng-if="path == '/user/roles'"><a ng-href='#/user/roles' class='active'>Roles</a></li>
            <li ng-if="path != '/user/roles'"><a ng-href='#/user/roles'>Roles</a></li>
        </ul>
    </div>
</div>
<div id='container' hide-gt-xs>
    <p class='btn btn-blue cl-btn ss-btn mg-t-10 wd-100 ff-18 txl-left txl-up'>{{tlmenu}}</p>
</div>