<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input name="receipt_email" ng-model="pp.receipt_email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="ppForm.receipt_email.$error" role="alert">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="pattern">
                            Your email must be look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Resend</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="answer('cancel')">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>