<div class='sub-menu'>
    <div id='container'>
        <ul class='cl-mg-tb'>
            <li ng-if="path == '/reports'"><a ng-href='#/reports' class='active'>Sales</a></li>
            <li ng-if="path != '/reports'"><a ng-href='#/reports'>Sales</a></li>
            
            <li ng-if="path == '/reports/transaction'"><a ng-href='#/reports/transaction' class='active'>Transaction</a></li>
            <li ng-if="path != '/reports/transaction'"><a ng-href='#/reports/transaction'>Transaction</a></li>
            
            <!--<li ng-if="path == '/reports/invoices'"><a ng-href='#/reports/invoices' class='active'>Invoices</a></li>
            <li ng-if="path != '/reports/invoices'"><a ng-href='#/reports/invoices'>Invoices</a></li>
            
            <li ng-if="path == '/reports/shift'"><a ng-href='#/reports/shift' class='active'>Shift</a></li>
            <li ng-if="path != '/reports/shift'"><a ng-href='#/reports/shift'>Shift</a></li>-->
        </ul>
    </div>
</div>
<div id='container' hide-gt-xs>
    <p class='btn btn-blue cl-btn ss-btn mg-t-10 wd-100 ff-18 txl-left txl-up'>{{tlmenu}}</p>
</div>