<div class="slide-animate" ng-include="mnmenu.url1"></div>
<div class="slide-animate" ng-include="mnmenu.url2"></div>
<div class="slide-animate" ng-include="mnmenu.urlsd"></div>
 
<div id='container'>
    <div class='content setting'>
        <md-dialog aria-label="Add Item" ng-cloak>
            <form name="ppForm" enctype="multipart/form-data">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Account</h2>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <div class='pad-b-10'>
                            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Picture</span>
                                        <span class="md-subhead">
                                            <label ng-if="pp.user_info.image_url == undefined">
                                                <label ng-if="pp.user_info.files.name == undefined">No Image</label>
                                                <label ng-if="pp.user_info.files.name != ''">{{pp.user_info.files.name}}</label>
                                            </label>
                                            <label ng-if="pp.user_info.image_url != ''">{{pp.user_info.image_url}}</label>
                                        </span>
                                        <!--<input type="hidden" name="image_url" ng-model="pp.user_info.image_url">-->
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-md card-media" ng-if="pp.user_info.image_url == undefined"></div>
                                        <div class="md-media-md card-media" ng-if="pp.user_info.image_url != undefined" style='background: url("{{pic}}{{pp.user_info.image_url}}") no-repeat center center; background-size: contain;'></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                   <!-- <button ng-if="dvdetect.os == 'android' || dvdetect.os == 'ios || dvdetect.os == 'windows-phone'" type="button" class="btn btn-primary" ng-click="imagePic()">Browse</button> -->
                                    <span class="btn btn-primary btn-file">
                                        Browse <input type="file" file-model="myFile">
                                    </span>
                                    <button type="button" class="btn btn-warning mg-l-5" ng-click="delPic()">Delete</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input name="user_email" ng-model="pp.user_email" required>
                            <div ng-messages="ppForm.clientName.$error">
                              <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block ">
                            <label>Password</label>
                            <input type="password" name="user_password" ng-model="pp.user_password">
                            <div ng-messages="ppForm.user_password.$error">
                              <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <div class='layout-gt-sm'>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First Name</label>
                                <input name='user_fname' ng-model="pp.user_fname">
                                <div ng-messages="ppForm.user_fname.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input name='user_lname' ng-model="pp.user_lname">
                                <div ng-messages="ppForm.user_lname.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block ">
                            <label>Phone</label>
                            <input name="user_phone" ng-model="pp.user_info['user_phone']">
                            <div ng-messages="ppForm.user_phone.$error">
                              <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp, urlx)">Save</button>
                    <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>