<md-dialog aria-label="Add Item" ng-cloak>
    <form name="ppForm" enctype="multipart/form-data" hid-scanner>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{nm}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-times fa-fw mg-t-5" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <span>Receive Date</span>
                <div class='layout-gt-xs'>
                    <md-input-container class="md-block wd-100">
                        <md-datepicker name='inventory_receipt_date' ng-model="pp.inventory_receipt_date" md-placeholder="Receive Date"></md-datepicker>
                        <div ng-messages="ppForm.inventory_receipt_date.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class='layout-gt-xs'>
                    <md-input-container class="md-block wd-100">
                        <label>Location</label>
                        <md-select ng-model="pp.location_id" md-on-close="clearSearchTerm()" data-md-container-class="selectMulti">
                            <md-select-header class="selHeader">
                                <input type="search" ng-model="searchLocs" placeholder="Search..." class="searchbox _md-text" search-type>
                            </md-select-header>
                            <md-optgroup label="locations">
                                <md-option ng-repeat="lc in locsData | filter:searchLocs" ng-value="lc.location_id">{{lc.location_name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div ng-repeat='r in ppackData' layout='row'>
                    <md-input-container class="md-block wd-100">
                        <label>Product</label>
                        <md-select ng-model="r.product_id" md-on-close="clearSearchTerm()" data-md-container-class="selectMulti">
                            <md-select-header class="selHeader">
                                <input type="search" ng-model="searchTerm" placeholder="Search..." class="searchbox _md-text" search-type>
                            </md-select-header>
                            <md-optgroup label="product">
                                <md-option ng-repeat="dt1 in prodData | filter:searchTerm" ng-value="dt1.product_id">{{dt1.product_name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <span flex></span>
                    <md-input-container class="md-block">
                        <label>Qty</label>
                        <input ng-model="r.qty" required>
                        <div ng-messages="ppForm.qty.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <button class="btn btn-primary btn-size mg-l-10" ng-click="addPack()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-danger btn-size mg-l-5" ng-click="rmPack(r)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <button type="button" class="btn btn-primary" ng-disabled="ppForm.$invalid" ng-click="proceed(pp)">Save</button>
            <button type="button" class="btn btn-warning mg-l-5" ng-click="cancel()">Cancel</button>
        </md-dialog-actions>
    </form>
</md-dialog>