<div class='sub-menu'>
    <div id='container'>
        <ul class='cl-mg-tb'>
            <li ng-if="path == '/customers'"><a ng-href='#/customers' class='active'>Customers</a></li>
            <li ng-if="path != '/customers'"><a ng-href='#/customers'>Customers</a></li>
            
            <!--<li ng-if="path == '/customers/feedback'"><a ng-href='#/customers/feedback' class='active'>Feedback</a></li>
            <li ng-if="path != '/customers/feedback'"><a ng-href='#/customers/feedback'>Feedback</a></li>-->
        </ul>
    </div>
</div>
<div id='container' hide-gt-xs>
    <p class='btn btn-blue cl-btn ss-btn mg-t-10 wd-100 ff-18 txl-left txl-up'>{{tlmenu}}</p>
</div>