
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html.md-default-theme, html, body.md-default-theme, body {
    background: none;
}

/* Ionic */

.validForm {
    display: block;
    padding: 5px;
}
    .validForm p {
	margin: 2px 0;
    }

input[type=search].form-control,
input[type=text].form-control,
input[type=password].form-control,
input[type=datetime].form-control,
input[type=datetime-local].form-control,
input[type=date].form-control,
input[type=month].form-control,
input[type=time].form-control,
input[type=week].form-control,
input[type=number].form-control,
input[type=email].form-control,
input[type=url].form-control,
input[type=tel].form-control,
input[type=color].form-control,
textarea.form-control {
    padding-top: 6px;
    padding-left: 12px;
}

.list-inset .item.rad4-toplr {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-inset .item.rad4-bottomlr {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.list-inset .item.item-input input {
    padding-right: 15px;    
}
.item-input .icon {
   min-width: 34px; 
}
    
/* Bootstrap */

label {
    font-weight: normal;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.dropdown-menu>li>a {
    padding: 10px 20px;    
}
.dropdown-menu {
    padding: 0;
}
.dropdown-menu .divider {
    margin: 0;
}

.daterangepicker input[type=text].input-mini {
    padding-top: 2px;
    padding-left: 25px;
}
.daterangepicker.ltr .ranges {
    float: none;
}
    .daterangepicker.ltr .ranges .range_inputs {
	text-align: right;
    }

/* Angular Material */

div md-dialog {
    min-width: 400px;
}

md-tabs .md-tab.md-active {
    color: #00bfd4; 
}
md-tabs .md-tab .md-ripple-container {
    color: #00bfd4;
}
md-tabs md-content {
    overflow: hidden;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #00bfd4;    
}

.selectMulti {}
    .selectMulti .searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .selectMulti .selHeader {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }
    .selectMulti md-content._md {
        max-height: 240px;
    }

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}
    .dialogdemoBasicUsage .footer {
        width: 100%;
        text-align: center;
        margin-left: 20px;
    }
        .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
            font-size: 0.8em;
            margin-top: 50px;
        }

md-input-container div.md-errors-spacer {
    min-height: inherit;
}

/* Input */

div .md-datepicker-input {
    max-width: none;
}
    div .md-datepicker-input-container {
	display: block;
	margin-top: -21px;
    }
    div .md-datepicker-triangle-button.md-button.md-icon-button {
	display: none;
    }
    div .md-icon-button + .md-datepicker-input-container {
	margin-left: 40px;
    }
    div .md-button.md-icon-button {
	margin: 0;
    }

div .md-default-theme .md-datepicker-open .md-datepicker-calendar-icon,
div .md-datepicker-open .md-datepicker-calendar-icon {
    color: #00bfd4;
}
div .md-calendar-day-header th {
    height: auto;
    padding: 10px 0;
}
div .md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
div .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
div .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
div .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #00bfd4;    
}
div .md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator,
div .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #00bfd4; 
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused label,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon,
md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: rgba(0,0,0,0.5);
}

md-input-container:not(.md-input-has-value) input:not(:focus),
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text {
    color: rgba(0,0,0,0.5);
}

div md-input-container {
    margin: 8px 0 8px 0;
}
div md-input-container .md-input {
    /*padding-bottom: 4px;*/
    height: 34px;
}
div md-input-container.md-input-focused .md-input {
    /*padding-bottom: 3px;*/
    padding: 10px;
}
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label,
    md-input-container:not(.md-input-invalid).md-input-has-value label {
	color: #6a6a6a;
	font-weight: normal;
    }
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
    md-input-container:not(.md-input-invalid).md-input-focused label {
	color: #6a6a6a;
    }    
    md-input-container.md-default-theme label,
    md-input-container label,
    md-input-container.md-default-theme .md-placeholder,
    md-input-container .md-placeholder {
	color: #6a6a6a;
    }
    div md-input-container .md-input,
    div md-input-container.md-input-focused .md-input,
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
    md-input-container:not(.md-input-invalid).md-input-focused .md-input,
    div md-input-container.md-input-focused .md-input, div md-input-container .md-input.ng-invalid.ng-dirty, div md-input-container.md-input-resized .md-input
    {
	margin-bottom: 5px;
	padding: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-width: 1px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    div md-input-container .md-input-message-animation {
	margin-bottom: 5px;
	padding-top: 0;
    }

div md-input-container label:not(.md-no-float):not(.md-container-ignore),
div md-input-container .md-placeholder {
    -webkit-transform: translate3d(12px, 34px, 0) scale(1);
    transform: translate3d(12px, 34px, 0) scale(1);
}
div md-input-container.md-input-focused .md-placeholder {
    opacity: 0;
}
div md-input-container.md-input-focused label:not(.md-no-float),
div md-input-container.md-input-has-placeholder label:not(.md-no-float),
div md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 7px, 0) scale(0.90);
    transform: translate3d(0, 7px, 0) scale(0.90); 
}

/* Select */

md-select span {
    position: relative;
    top: 0px;
    left: 10px;
}
    md-select .md-select-value .md-select-icon {
	top: 1px;
	width: 28px;
	text-align: center;
    }
    md-select .md-select-value > span:not(.md-select-icon) {
	white-space: normal;
    }
    md-select.md-default-theme .md-select-value.md-select-placeholder,
    md-select .md-select-value.md-select-placeholder {
	color: #6a6a6a;
    }
    md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder,
    md-select:not([disabled]):focus .md-select-value.md-select-placeholder {
	color: #6a6a6a;
    }
    
    .md-checkbox-enabled.md-default-theme[selected] .md-icon,
    .md-checkbox-enabled[selected] .md-icon {
	background: #00bfd4;
    }
    
    md-select-menu.md-default-theme md-option[selected],
    md-select-menu md-option[selected] {
	color: #00bfd4;
    }
	md-select-menu.md-default-theme md-option[selected]:focus,
	md-select-menu md-option[selected]:focus {
	    color: #00bfd4;
	}
    md-select-menu md-content md-option[selected] {
	color: #00bfd4;
    }
	md-select-menu md-content md-option[selected]:focus {
	    color: #00bfd4;
	}
    
    md-select-menu md-optgroup md-option {
	padding-left: 15px;
	padding-right: 15px;
    }
    
    .md-select-value.md-select-placeholder, md-select .md-select-value,
    md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder,
    md-select:not([disabled]):focus .md-select-value.md-select-placeholder,
    md-select.md-default-theme:not([disabled]):focus .md-select-value,
    div md-select:not([disabled]):focus .md-select-value
    {
	margin-bottom: 5px;
	padding: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-width: 1px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
div md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
    color: #6a6a6a;
}
div md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
    -webkit-transform: translateY(-27px) translateX(-21px) scale(0.90);
    transform: translateY(-27px) translateX(-21px) scale(0.90);
}
div md-input-container.md-input-has-value .md-select-value > span:not(.md-select-icon) {
    -webkit-transform: translate3d(-10px, 1px, 0);
    transform: translate3d(-10px, 1px, 0);
}

.card-media {
    background-color: #999999;
}

/* Container & Clear */

#container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
    #container:before,
    #container:after,
    #content:before,
    #content:after,
    form:before,
    form:after,
    ul:before,
    ul:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
    }
    #container:after,
    #content:after,
    form:after,
    ul:after {
	clear: both;
    }
#container-over {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
    #container-over:before,
    #container-over:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
    }
    #container-over:after {
	clear: both;
    }

.clean {
    clear: both;
}

.disp-block {
    display: block;
}
.disp-inblock {
    display: inline-block;
}

/* Width */

.wd-100 {
    width: 100%; /* Div Col 1 */
}
.wd-50 {
    width: 50%; /* Div Col 2 */
}
.wd-33 {
    width: 33.33%; /* Div Col 3 */
}
.wd-20 {
    width: 20%; /* Div Col 4 */
}
.wd-25 {
    width: 25%; /* Div Col 5 */
}
.wd-16 {
    width: 16.66%; /* Div Col 6 */
}
.wd-14 {
    width: 16.28%; /* Div Col 7 */
}
.wd-12 {
    width: 12.5%; /* Div Col 8 */
}

/* Position */

.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}

/* Margin & Padding */

.cl-mg-l {
    margin-left: 0;
}
.cl-mg-r {
    margin-right: 0;
}
.cl-mg-t {
    margin-top: 0;
}
.cl-mg-b {
    margin-bottom: 0;
}
.cl-mg-lr {
    margin-left: 0;
    margin-right: 0;
}
.cl-mg-tb {
    margin-top: 0;
    margin-bottom: 0;
}
.cl-mg-all {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.mg-all-4 {
    margin: 4px;    
}
.mg-all-8 {
    margin: 8px;    
}
.mg-all-10 {
    margin: 10px;    
}
.mg-all-20 {
    margin: 20px;    
}

.mg-t-5 {
    margin-top: 5px;
}
.mg-b-5 {
    margin-bottom: 5px;
}
.mg-l-5 {
    margin-left: 5px;
}
.mg-r-5 {
    margin-right: 5px;
}

.mg-lr-8 {
    margin-left: 8px;
    margin-right: 8px;
}
.mg-tb-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mg-t-10 {
    margin-top: 10px;
}
.mg-b-10 {
    margin-bottom: 10px;
}
.mg-l-10 {
    margin-left: 10px;
}
.mg-r-10 {
    margin-right: 10px;
}
.mg-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mg-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mg-t-20 {
    margin-top: 20px;
}
.mg-b-20 {
    margin-bottom: 20px;
}
.mg-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.mg-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cl-pad-l {
    padding-left: 0;
}
.cl-pad-r {
    padding-right: 0;
}
.cl-pad-t {
    padding-top: 0;
}
.cl-pad-b {
    padding-bottom: 0;
}
.cl-pad-lr {
    padding-left: 0;
    padding-right: 0;
}
.cl-pad-tb {
    padding-top: 0;
    padding-bottom: 0;
}
.cl-pad-all {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.pad-all-4 {
    padding: 4px;    
}
.pad-all-8 {
    padding: 8px;    
}
.pad-all-10 {
    padding: 10px;    
}
.pad-all-20 {
    padding: 20px;    
}

.pad-lr-4 {
    padding-left: 4px;
    padding-right: 4px;
}
.pad-tb-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.pad-t-5 {
    padding-top: 5px;
}
.pad-b-5 {
    padding-bottom: 5px;
}
.pad-l-5 {
    padding-left: 5px;
}
.pad-r-5 {
    padding-right: 5px;
}

.pad-lr-8 {
    padding-left: 8px;
    padding-right: 8px;
}
.pad-tb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pad-t-10 {
    padding-top: 10px;
}
.pad-b-10 {
    padding-bottom: 10px;
}
.pad-l-10 {
    padding-left: 10px;
}
.pad-r-10 {
    padding-right: 10px;
}
.pad-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.pad-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-t-20 {
    padding-top: 20px;
}
.pad-b-20 {
    padding-bottom: 20px;
}
.pad-l-20 {
    padding-left: 20px;
}
.pad-r-20 {
    padding-right: 20px;
}
.pad-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.pad-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Background */

.bg-grey {
    background: #f3f3f3;
}
.bg-green {
    background: #00bfd4;
}
.bg-white {
    background: rgba(255,255,255,0.5);
}
.bg-white-full {
    background: #fff;
}

/* Color */

.cl-white {
    color: #fff;
}
.cl-black {
    color: #4a4a4a;
}
.cl-grey {
    color: #808080;
}

/* Font Size */

.ff-12 {
    font-size: 12px;
}
.ff-14 {
    font-size: 14px;
}
.ff-16 {
    font-size: 16px;
}
.ff-18 {
    font-size: 18px;
}
.ff-20 {
    font-size: 20px;
}

/* Text Style */

.ff-comma:after {
    content: ", ";
}
.ff-comma:last-child:after {
    content: "";  
}

/* Text Color */

.ff-grey {
    color: #6a6a6a;
}
.ff-grbold {
    color : #4f4f4f;
}
.ff-grsoft {
    color : #9f9f9f;
}
.ff-grbright {
    color : #d2d2d2;
}
.ff-alert {
    color : #e60000;
}
.ff-maroon {
    color: #ba370f;
}

/* Text Align */

.txl-left {
    text-align: left;
}
.txl-right {
    text-align: right;
}
.txl-center {
    text-align: center;
}
.txl-justify {
    text-align: justify;
}

/* Text Transform */

.txl-cp {
    text-transform: capitalize;
}
.txl-up {
    text-transform: uppercase;
}

/* Border */

.bod-all {
    border: 1px solid rgba(0,0,0,0.12);
}
.bod-tb {
    border-top: 1px solid rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.bod-tb-dash {
    border-top: 1px dashed rgba(0,0,0,0.12);
    border-bottom: 1px dashed rgba(0,0,0,0.12);
}
.bod-top {
    border-top: 1px solid gba(0,0,0,0.12);
}
.bod-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.bod-blue {
    border: 1px solid #00c0d5;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.bod-abs-blue {
    position: absolute;
    width: 100%;
    bottom: 10px;
    border-bottom: 14px solid #00bfd4;
}
.bod-abs-orange {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 10px solid #f36b24;
}
.bod-abs-orange-dash {
    position: absolute;
    width: 100%;
    bottom: 9px;
    border-bottom: 8px solid #f36b24;
}

/* Border Radius */

.cl-bod-all {
    border: none;
}
.cl-bod-rad {
    border-radius: 0;
}
.cl-bod-shadow {
    box-shadow: 0 0 0 0;
}
.bod-rad4 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px; 
}

/* Button */


.btn-size {
    width: 40px;
    height: 40px;
}
.cl-btn.btn-primary,
.cl-btn.btn-default,
.cl-btn.btn-warning,
.cl-btn.btn-danger,
.cl-btn.btn-blue,
.cl-btn.btn-grey,
.b-action .btn-primary,
.b-action .btn-default,
.b-action .btn-warning,
.b-action .btn-danger,
.b-action .btn-blue,
.b-action .btn-grey,
td .btn-primary,
td .btn-default,
td .btn-warning,
td .btn-danger,
td .btn-blue,
td .btn-grey {
    margin-top: 0px;
    margin-bottom: 0px;
}
.ss-btn.btn-primary,
.ss-btn.btn-default,
.ss-btn.btn-warning,
.ss-btn.btn-danger,
.ss-btn.btn-blue,
.ss-btn.btn-grey {
    margin-top: 10px;    
}
.btn-primary,
.btn-default,
.btn-warning,
.btn-danger,
.btn-blue,
.btn-grey {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary {
    outline: none;
    color: #fff;
    background: #ff5200;
    background: -webkit-linear-gradient(#ff7c00, #ff5200); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff7c00, #ff5200); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff7c00, #ff5200); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff7c00, #ff5200); /* Standard syntax */
    border-color: #cb6c33;
}
    .btn-primary[disabled]:hover,
    .btn-primary:hover {
	color: #fff;
        background: #f45000;
	background: -webkit-linear-gradient(#ec7000, #f45000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ec7000, #f45000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ec7000, #f45000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ec7000, #f45000); /* Standard syntax */
        border-color: #c76a32;
    }
    .btn-primary:focus {
	outline: none;
	color: #a83600;
        background: #f45000;
	background: -webkit-linear-gradient(#ec7000, #f45000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ec7000, #f45000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ec7000, #f45000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ec7000, #f45000); /* Standard syntax */
        border-color: #c76a32;
    }
    .btn-primary:active {
        background: #f45000;
        border-color: #c76a32;
    }
        .btn-primary:active:hover,
        .btn-primary:active:focus {
	    color: #fff;
            background: #f45000;
	    border-color: #c76a32;
        }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus,
    .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus,
    .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
        background: #f45000;
        border-color: #c76a32;
    }
    .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
        background: #f45000;
        border-color: #c76a32;
    }
.btn-warning {
    outline: none;
    color: #fff;
    background: #00b1c3;
    border-color: #37a1b9;
}
    .btn-warning[disabled]:hover,
    .btn-warning:hover {
	color: #fff;
        background: #00a7b9;
        border-color: #359eb5;
    }
    .btn-warning:focus {
	outline: none;
	color: #006975;
        background: #00a7b9;
        border-color: #359eb5;
    }
    .btn-warning:active {
        background: #00a7b9;
        border-color: #359eb5;
    }
        .btn-warning:active:hover,
        .btn-warning:active:focus {
	    color: #fff;
            background: #00a7b9;
	    border-color: #359eb5;
        }
    .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus,
    .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus,
    .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
	color: #fff;
        background: #00a7b9;
        border-color: #359eb5;
    }
    .btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
        background: #00a7b9;
        border-color: #359eb5;
    }
.btn-blue {
    outline: none;
    color: #fff;
    background: #00b1c3;
    background: -webkit-linear-gradient(#01c1d6, #00b1c3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01c1d6, #00b1c3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01c1d6, #00b1c3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01c1d6, #00b1c3); /* Standard syntax */
    border-color: #37a1b9;
}
    .btn-blue[disabled]:hover,
    .btn-blue:hover {
	color: #fff;
        background: #00a7b9;
	background: -webkit-linear-gradient(#01bcd1, #00a7b9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#01bcd1, #00a7b9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#01bcd1, #00a7b9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#01bcd1, #00a7b9); /* Standard syntax */
        border-color: #359eb5;
    }
    .btn-blue:focus {
	outline: none;
	color: #006975;
        background: #00a7b9;
	background: -webkit-linear-gradient(#01bcd1, #00a7b9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#01bcd1, #00a7b9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#01bcd1, #00a7b9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#01bcd1, #00a7b9); /* Standard syntax */
        border-color: #359eb5;
    }
    .btn-blue:active {
        background: #00a7b9;
        border-color: #359eb5;
    }
        .btn-blue:active:hover,
        .btn-blue:active:focus {
	    color: #fff;
            background: #00a7b9;
	    border-color: #359eb5;
        }
    .btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus,
    .btn-blue:active:focus, .btn-blue:active:hover, .open>.dropdown-toggle.btn-blue.focus,
    .open>.dropdown-toggle.btn-blue:focus, .open>.dropdown-toggle.btn-blue:hover {
	color: #fff;
        background: #00a7b9;
        border-color: #359eb5;
    }
    .btn-blue.active, .btn-blue:active, .open>.dropdown-toggle.btn-blue {
        background: #00a7b9;
        border-color: #359eb5;
    }
.btn-grey {
    padding: 10px 12px;
    outline: none;
    color: #5d5d5c;
    background: #dcdcdc;
    background: -webkit-linear-gradient(#fefefe, #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fefefe, #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fefefe, #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fefefe, #dcdcdc); /* Standard syntax */
    border-color: #cbcbcb;
}
    .btn-grey[disabled]:hover,
    .btn-grey:hover {
	color: #5d5d5c;
        background: #d7d7d7;
	background: -webkit-linear-gradient(#f7f7f7, #d7d7d7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f7f7f7, #d7d7d7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f7f7f7, #d7d7d7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#f7f7f7, #d7d7d7); /* Standard syntax */
        border-color: #c5c5c5;
    }
    .btn-grey:focus {
	outline: none;
	color: #828282;
        background: #d7d7d7;
	background: -webkit-linear-gradient(#f7f7f7, #d7d7d7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f7f7f7, #d7d7d7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f7f7f7, #d7d7d7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#f7f7f7, #d7d7d7); /* Standard syntax */
        border-color: #c5c5c5;
    }
    .btn-grey:active {
        background: #d7d7d7;
        border-color: #c5c5c5;
    }
        .btn-grey:active:hover,
        .btn-grey:active:focus {
	    color: #5d5d5c;
            background: #d7d7d7;
	    border-color: #c5c5c5;
        }
    .btn-grey.active.focus, .btn-grey.active:focus, .btn-grey.active:hover, .btn-grey:active.focus,
    .btn-grey:active:focus, .btn-grey:active:hover, .open>.dropdown-toggle.btn-grey.focus,
    .open>.dropdown-toggle.btn-grey:focus, .open>.dropdown-toggle.btn-grey:hover {
	color: #5d5d5c;
        background: #d7d7d7;
        border-color: #c5c5c5;
    }
    .btn-grey.active, .btn-grey:active, .open>.dropdown-toggle.btn-grey {
        background: #d7d7d7;
        border-color: #c5c5c5;
    }
.btn-file {
    position: relative;
    overflow: hidden;
}
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

/* Table Overflow */

table.flexy {
    margin-bottom: 0px;
    table-layout: fixed !important;
}
    table.flexy.col2 tr td,
    table.flexy.col2 tr th {
	width: 50%;
    }
    table.flexy.col3 tr td,
    table.flexy.col3 tr th {
	width: 33.33%;
    }
    table.flexy.col4 tr td,
    table.flexy.col4 tr th {
	width: 25%;
    }
    table.flexy.col5 tr td,
    table.flexy.col5 tr th {
	width: 20%;
    }
    table.flexy.col6 tr td,
    table.flexy.col6 tr th {
	width: 16.66%;
    }
    table.flexy.col7 tr td,
    table.flexy.col7 tr th {
	width: 14.28%;
    }
    table.flexy.col8 tr td,
    table.flexy.col8 tr th {
	width: 12.5%;
    }
.flexy thead {
    display: -webkit-flex;
    -webkit-flex-flow: row;
}
    .flexy thead tr {
        display: -webkit-flex;
        width: 100%;
        -webkit-align-items: stretch;
    }
.flexy tbody {
    display: -webkit-flex;
    overflow: auto;
    -webkit-flex-flow: row wrap;
}
    .flexy tbody.rr {
	max-height: 595px;
    }
    .flexy tbody.dd {
	max-height: 640px;
    }
    .flexy tbody tr{
        display: -webkit-flex;
        width: 100%;
    }
.flexy tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Overflow */    

.over-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.over-hidden {
    overflow: hidden;
}
.over-content {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 200px;
}
    
/* Themes */

* {
    outline: none;
}

.cursor {
    cursor: pointer;
}

a {
    color: #6a6a6a;
    cursor: pointer;
}
    a:hover {
        color: #4f4f4f;
        text-decoration: none;
    }

.rel-pos {
    position: relative;
    min-height: 100%;
    height: 100%;
}
.abs-center {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}
.abs-pos {
    position: absolute;
    min-width: auto;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-login {
    max-width: 450px;
    padding: 60px;
}
    .box-login .logo {
        display: block;
        min-width: 200px;
        height: 150px;
        background: url('../img/logo.png') no-repeat center center;
        background-size: contain;
        margin: 0 40px 30px 40px;
    }

.main-menu {
    background: none;
    border: none;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
}
    .main-menu:hover,
    .main-menu.activated {
	background: rgba(0,0,0,0.2);
    }
    .main-menu .fa {
	margin-left: 10px;
        font-size: 20px;
    }
    .main-menu span {
        font-size: 20px;
    }
    a.main-menu {
	display: block;
	color: #fff;
	padding: 20px 15px;
	outline: none;
    }
	a.amin-menu:hover,
	a.amin-menu:focus {
	    color: #006975;
	}
    
.box-menu {
    background: #00bfd4;   
}
    .box-menu .bg-logo {
	width: 170px;
        height: 76px;
	background: #ebebeb;
	background: -webkit-linear-gradient(#fdfdfd, #ebebeb); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fdfdfd, #ebebeb); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fdfdfd, #ebebeb); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fdfdfd, #ebebeb); /* Standard syntax */
	padding: 10px;
    }
    .box-menu .logo {
        display: block;
        width: 100%;
        height: 54px;
        background: url('../img/logivar-logo.png') no-repeat center center;
        background-size: contain;
    }
    .box-menu .navi ul {
        padding-left: 10px;
    }
    .box-menu .navi li {
        list-style: none;
        float: left;
    }
        .box-menu .navi li a {
            display: block;
            padding: 28px 18px;
            color: #fff;
            text-transform: uppercase;
        }
            .box-menu .navi li a:hover {
                color: #006975;
            }
            .box-menu .navi li .active {
                color: #006975;
            }
    .box-menu button {
        text-align: center;
        text-transform: uppercase;
        outline: none;
    }
        .box-menu button .de-outlet {
            margin-left: 10px;
        }
    .box-menu .btn-menu {
        margin: 0;
	padding: 17px 24px;
	text-align: center;
	font-size: 28px;
    }
    .box-menu .mg-all-20 {
	margin: 20px 10px;
    }

.sub-menu {
    background: #fff;
}
    .sub-menu ul {
        padding-left: 0;
    }
    .sub-menu li {
        display: inline-block;
        list-style: none;
    }
        .sub-menu li a {
            display: block;
            padding: 10px 20px 8px 20px;
            color: #666666;
            font-size: 14px;
            border-bottom: 2px solid #fff;
        }
            .sub-menu li a:hover {
                color: #00bfd4;
                border-bottom: 2px solid #00bfd4;
            }
            .sub-menu li .active {
                border-bottom: 2px solid #00bfd4;
            }
    .sub-menu .cl-mg-all {
	margin-top: 0;
	margin-bottom: 0;
    }
    .sub-menu .cl-bod-all {
	border: none;
	border-radius: 0x;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
    }

.content {
    margin: 10px 0;
    padding: 0;
    color: #666666;
}
    .content .title {
        margin: 0 15px 20px 15px;
        padding: 10px 0;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 1px solid #c9c9c9;
    }
	.content .title.cl-mg-lr {
	    margin-left: 0;
	    margin-right: 0;
	}
    .content .ss-mon {
        padding-bottom: 10px;
        font-size: 18px;
        text-align: center;
        border-bottom: 1px solid #c9c9c9;
    }
    .content .ss-title {
        margin-top: 10px;
        text-align: center;
    }

.setting md-dialog {
    opacity: 1;
    width: 100%;
    max-width: 100%;
}

/* Loading */

.bg-mask {
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.3;
    z-index: 999;
}
.box-popup {
    float: left;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99999;
}
.loading {
    width: 50px;
    height: 50px;
    background: url('../img/loading.gif');
    background-size: cover;
    margin: 0 auto;
}

.progressCirculardemoBasicUsage body {
    padding: 20px;
}
.progressCirculardemoBasicUsage h4 {
    margin: 10px 0;
}
.progressCirculardemoBasicUsage md-progress-circular {
    margin-bottom: 20px;
}
.progressCirculardemoBasicUsage #loaders > md-switch {
    margin: 0;
    margin-left: 10px;
    margin-top: -10px;
}
.progressCirculardemoBasicUsage #loaders > h5 {
    margin-top: 0;
}
.progressCirculardemoBasicUsage #loaders > p {
    margin-right: 20px;
    margin-bottom: 24px;
}
.progressCirculardemoBasicUsage p.small {
    font-size: 0.8em;
    margin-top: -18px;
}
.progressCirculardemoBasicUsage hr {
    width: 100%;
    margin-top: 20px;
    border-color: rgba(221, 221, 177, 0.1);
}
.progressCirculardemoBasicUsage p.small > code {
    font-size: 0.8em;
}
.progressCirculardemoBasicUsage .visible {
    border-color: rgba(221, 221, 177, 0);
}

/* Slide Animate */

.slide-animate.ng-enter, .slide-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  display:block;
}
.slide-animate.ng-enter {
  margin-top:-50px;
}
.slide-animate.ng-enter.ng-enter-active {
  margin-top:0;
}
.slide-animate.ng-leave {
  margin-top:0;
}
.slide-animate.ng-leave.ng-leave-active {
  margin-top:50px;
}

/* Scrollbar */

 * {
    -webkit-font-smoothing: antialiased;
}
*::-webkit-scrollbar {
    background: rgba(0, 0, 0, .1);
    -webkit-appearance: none;
    width: 6px
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .2)
}
*::scrollbar {
    appearance: none;
    -moz-appearance: none;
    width: 6px
}
*::scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .2)
}
*::-moz-scrollbar {
    -moz-appearance: none;
    width: 6px
}
*::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .2)
}